<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AADIDEV MAHADEV SEWA TRUST HARIDWAR</title>
    <link rel="shortcut icon" href="file.png" type="image/x-icon">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <!-- header nav -->
      {{>header}}
    

   
    <div class="contactus-container">
        <div class="contactus-left">
            <h2>All General Queries</h2>
            <p>mohit - 345453456t</p>
            <br>
            <h2>Donation Related Queries</h2>
            <h4>For new donors</h4>
            <p>raju - +23434234234</p>
        </div>
        <div class="contactus-right">
           
                <h1>Helpdesk</h1>
                <p>For any grievance , suggestions and queries kindly write to us.</p>

            <form action="" class="contactus-form">
            <label for="Name">Name:</label>
            <input type="text" name="name" placeholder="Name">
            <label for="Phone">Phone:</label>
            <input type="text" name="number" placeholder="Mobile No">
            <label for="Email">Email:</label>
            <input type="email" name="email" placeholder="Email">
            <label for="message">Message:</label>
            <textarea name="message" id="" cols="30" rows="8" placeholder="Enter your message"></textarea>
            <input type="submit">     
             </form>
        </div>
    </div>

     <!-- footer  -->
   {{>footer}}
</body>
</html>