<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <div class="involved-main">
    <div class="involved-top">
     <div class="involved-top-left">
        <h1>“Be the change that you want to see”</h1>
        <h3>– Mahatma Gandhi</h3>
     </div>
     <div class="involved-top-right">
        <p>Each one of us has the capacity to make a difference and help lend a helping hand to the less fortunate around us. Your strong intent to make a difference, can take the form of engaging in campaigns for the betterment of the society, volunteering and working directly with communities, supporting fund raising and monetary contributions to the causes of your choice. Be a part of our endeavour to work for the marginalised.</p>
     </div>
    </div>
    <div class="involved-card">
        <h1>Volunteer</h1>
        <hr style="color: #2E3094;">

    <p>Become a grassroots volunteer by contributing your time and service at any of our project locations. It could be adverse environments like disaster zones, or peaceful communities in the interiors, struggling with education, health, and livelihoods opportunities –and you can be there to learn, and help make a difference. For more details, write to us at:</p><strong><a href=mailto:“aadidevmahadevsewatrust@gmail.com”>aadidevmahadevsewatrust@gmail.com</a></strong>
    </div>
     <div class="involved-card">
        <h1>Internship</h1>
        <hr style="color: #2E3094;">

    <p>From time to time, we offer short-term engagement opportunities for those eager to intern with us. This provides a chance to understand our work at Aadidev Mahadev Sewa Trust and gain insight into the development sector's functionality. We are always seeking fresh, enthusiastic, and dedicated individuals to join our team. For more details, write to us at:</p><strong><a href=mailto:“aadidevmahadevsewatrust@gmail.com”>aadidevmahadevsewatrust@gmail.com</a></strong>
    </div>
     <div class="involved-card">
        <h1>Donate</h1>
        <hr style="color: #2E3094;">
    <p>One of the easiest, fastest, and most effective ways you can propel the progress of women and girls is through monetary support. With your contribution, we can reach out to more and more women and girls from the poorest and marginalised communities with specific interventions. You can easily donate online via net banking, credit card and debit card.<strong></strong></p><strong><a href="/donate">Donate Now</a></strong>
    </div>
    </div>
    {{>footer}}
</body>
</html>