<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
   
    <!-- header nav -->
  {{>header}}
    
    
   
  

    <!-- hero section  -->
    <div class="hero-section">
    <!-- Slider main container -->
<div class="heroswiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="/images/herosection//image.jpg" alt="" srcset=""></div>
      <div class="swiper-slide"><img src="/images/herosection/pexels-rdne-stock-project-6646918.jpg" alt=""></div>

    </div>
    
   
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  </div>
    </div>


    <!-- about-section -->
    <div class="about-description">
        <p>
Established in 2022, AADIDEV MAHADEV SEWA TRUST HARIDWAR is a dedicated Indian non-governmental organization committed to uplifting communities and transforming lives. With a profound impact on the lives of over thousands of individuals and their families annually, our organization operates across Uttarakhand, Uttar Pradesh, and other regions, including the districts of Dehradun, Udham Singh Nagar, and Hardwar. Through a network of more than 400 projects spanning education, healthcare, livelihood, and women empowerment, we reach out to over 2,000 remote villages and urban slums, serving as a beacon of hope and progress for those in need.
            <br><br>
            AADIDEV MAHADEV SEWA TRUST HARIDWAR serves as a catalyst for change, collaborating closely with government agencies and other stakeholders to complement and supplement existing efforts aimed at achieving the Sustainable Development Goals. By sensitizing and partnering with like-minded institutions and individuals, we implement high-impact programs that facilitate access, enhance quality, and foster long-term behavioral change at the grassroots level. Our unwavering commitment to empowering communities and driving positive social change is at the core of everything we do, as we strive to create a brighter and more equitable future for all.</p>
            <a href="">read more </a>
    </div>


    <!-- impact-section -->
    <div class="ourimpact-section">
       <h1>OUR IMPACT</h1>
       <div class="impact-container">
        <div class="impact-card">
            <h1 ><span class="counter" id="counter1" data-target="50" >0</span>+</h1>
            <h2>PEOPLE</h2>
            <p>children and their families are impacted every year</p>
        </div>
        <div class="impact-card">
            <h1 ><span class="counter" id="counter1" data-target="50" >0</span>+</h1>
            <h2>VILLAGES</h2>
            <p>children and their families are impacted every year</p>
        </div>
        <div class="impact-card">
            <h1 ><span class="counter" id="counter1" data-target="50" >0</span>+</h1>
            <h2>WOMENS</h2>
            <p>children and their families are impacted every year</p>
        </div>
        <div class="impact-card">
            <h1 ><span class="counter" id="counter1" data-target="50" >0</span>+</h1>
            <h2>STARTUPS</h2>
            <p>children and their families are impacted every year</p>
        </div>
       </div>
    </div>
     
    <!-- our-programs -->
    <div class="our-programs-section">
        <h1>Our Programmes</h1>
        <div class="our-programs-container">
            <a href="your-link-here" class="program-card-link">
                <div class="program-card">
                    <div class="program-card-top">
                        <img src="images/our-programmes/Learning-rafiki.svg" alt="">
                    </div>
                    <div class="program-card-bottom">
                        <h1>EDUCATION</h1>
                        <p>Education,nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            <a href="your-link-here" class="program-card-link">
                <div class="program-card">
                    <div class="program-card-top">
                        <img src="images/our-programmes/Women's Day protest-rafiki.svg" alt="">
                    </div>
                    <div class="program-card-bottom">
                        <h1>Women Empowerment</h1>
                        <p>Education,nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            <a href="your-link-here" class="program-card-link">
                <div class="program-card">
                    <div class="program-card-top">
                        <img src="images/our-programmes/Social Growth-rafiki.svg" alt="">
                    </div>
                    <div class="program-card-bottom">
                        <h1> Social Assistance</h1>
                        <p>Education,nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            <a href="your-link-here" class="program-card-link">
                <div class="program-card">
                    <div class="program-card-top">
                        <img src="images/our-programmes/farm animals-rafiki.svg" alt="">
                    </div>
                    <div class="program-card-bottom">
                        <h1>Animal Husbandry</h1>
                        <p>Education,nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            <a href="your-link-here" class="program-card-link">
                <div class="program-card">
                    <div class="program-card-top">
                        <img src="images/our-programmes/Kids open their Christmas gifts-rafiki.svg" alt="">
                    </div>
                    <div class="program-card-bottom">
                        <h1>Children</h1>
                        <p>Education,nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            
            <a href="your-link-here" class="program-card-link">
                <div class="program-card">
                    <div class="program-card-top">
                        <img src="images/our-programmes/Kids open their Christmas gifts-rafiki.svg" alt="">
                    </div>
                    <div class="program-card-bottom">
                        <h1>Dairying & Fisheries</h1>
                        <p>Education,nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
           
        </div>
    </div>

    <!-- impact stories section -->
    <div class="impact-stories-section">
        <h1>IMPACT STORIES</h1>
        <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="impact-slider-card">

        <img src="images/people-img/close-up-portrait-man-shirt-mockup.jpg" alt="">
        <div class="impact-card-text">
        <h1>Raj </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ex cum sunt! Neque labore magnam distinctio! Voluptates minima suscipit incidunt.</p>
       </div>
      </div>
      </div>
      <div class="swiper-slide">
        <div class="impact-slider-card">

        <img src="images/people-img/5da8768c07eb3db7dbf5f394ab4444a6.jpg" alt="">
        <div class="impact-card-text">
        <h1>Raj </h1>
        <p>Set up his dairy farm in year 2019 </p>
       </div>
      </div>
      </div>
      <div class="swiper-slide">
        <div class="impact-slider-card">

        <img src="images/our-programmes/Education-rafiki.svg" alt="">
        <div class="impact-card-text">
        <h1>Raj </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ex cum sunt! Neque labore magnam distinctio! Voluptates minima suscipit incidunt.</p>
       </div>
      </div>
      </div>
    </div>
  
    <!-- If we need navigation buttons -->
     <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> 

  </div>
    </div>


    <!-- temp -->
    <div class="award-section">
        <h1>AWARDS & RECOGNITION</h1>
    </div>

    <!-- footer  -->
  {{>footer}}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="script.js"></script>
</body>
</html>