<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
   {{>header}}

   <h1 class="mediacenter-heading">Media Corner</h1>
  
   <div class="mediacenter-container">
      <img src="/images/shared/1.jpg" alt="">
      <img src="/images/shared/2.jpg" alt="">
      <img src="/images/shared/3.jpg" alt="">
      <img src="/images/shared/4.jpg" alt="">
      <img src="/images/shared/6.jpg" alt="">
      <img src="/images/shared/5.jpg" alt="">
      <img src="/images/shared/10.jpg" alt="">
      <img src="/images/shared/9.jpg" alt="">
      <img src="/images/shared/11.jpg" alt="">
      <img src="/images/shared/8.jpg" alt="">
      <img src="/images/shared/7.jpg" alt="">
      
   </div>

   {{>footer}} 
</body>
</html>