<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  
    {{>header}}
    
     
    <div class="aboutus-hero-section">
        <img src="images/aboutus/closeup-diverse-people-joining-their-hands.jpg" alt="">
        <h1>Our Services</h1>
    </div>
    <div class="aboutus-panel" >
        <a href="#msme" id="msme">MSME Registrations</a>
        <a href="#80g" >80G Registrations</a>
        <a href="#mission">Mission</a>
        <a href="#howwework" >How We Work</a>
        <a href="#whytrustus" >Why Trust Us</a>
    </div>
    <div class="about-content our-services-content">
        
        <p>MSME industries are the backbone of the economy. They are also known as Small Scale Industries (SSIs). The government of India provides an MSME registration to the industries classified by the government as Micro, Small and Medium Enterprises (MSME) in India. The MSME registration helps MSMEs to obtain various benefits provided by the government for their establishment and growth. </p>
        <br>
        <p>Initially, when the government introduced the MSME registration in 2006, the MSME classification was based on the investment criteria in plant and machinery or equipment. The government revised the MSME classification by inserting annual investment and annual criteria. Also, the distinction between the manufacturing and the services sectors under the MSME definition was removed.
         The following is the current revised MSME classification, where the investment and annual turnover are to be considered for deciding if an entity is considered as an MSME:</p>
         <br><br>
         <h3>What is MSME Udyam Registration? </h3>
         <p>MSME registration is also called Udyam registration. The entities that fulfil the MSME classification can apply for MSME registration from the government portal, the Udyam portal. The MSME registration is entirely online and can be obtained from the Udyam registration portal. It is not mandatory for MSMEs to obtain this registration, but it is beneficial to get one’s business registered under this because it provides a lot of benefits in terms of taxation, setting up the business, credit facilities, loans etc.</p>
         <br><br>
         <h3>MSME Registration Eligibility</h3>
         <p>All manufacturing, service industries, wholesale, and retail trade that fulfil the revised MSME classification criteria of annual turnover and investment can apply for MSME registration. Thus, the MSME registration eligibility depends on an entity’s annual turnover and investment. The following entities are eligible for MSME registration:
<br><br>
<li>Individuals, startups, business owners, and entrepreneurs</li>
<li>Private and public limited companies</li>
<li>Sole proprietorship</li>
<li>Partnership firm</li>
<li>Limited Liability Partnerships (LLPs)</li>
<li>Self Help Groups (SHGs)</li>
<li>Co-operative societies</li>
<li>Trusts</li>


<br><br>
<h3>Documents Required for MSME Registration</h3>
<p>The MSME registration documents are as follows:
    <br><br>
<li>Aadhaar card</li>
<li>PAN card</li>
<br><br>
There are no MSME registration fees and it does not require proof of documents. PAN and GST-linked details on investment and turnover of enterprises will be taken automatically by the Udyam Registration Portal from the Government databases since the portal is integrated with Income Tax and GSTIN systems.
<br><br>
GST registration is not compulsory for enterprises that do not require a GST registration. However, enterprises that mandatorily need to obtain GST registration under the GST law, must enter their GSTIN for obtaining the MSME Registration or Udyam Registration.</p>
    <br><br>
    <h3>MSME Registration Benefits</h3>
    <ul>
<li>Due to MSME Registration India, bank loans become cheaper as the interest rate is very low, around 1-1.5%, much lower than interest on regular loans</li>
<li>It also allowed credit for minimum alternate tax (MAT) to be carried forward for up to 15 years instead of 10 years</li>
<li>Once registered the cost of getting a patent done, or the cost of setting up the industry reduces as many rebates and concessions are available</li>
<li>MSME registration helps to acquire government tenders easily as Udyam Registration Portal is integrated with Government e-Marketplace and various other State Government portals which give easy access to their marketplace and e-tenders</li>
<li>There is a One Time Settlement Fee for non-paid amounts of MSME</li>
<li>The MSME registration will help the MSMEs in availing the benefits of government schemes such as the Credit Guarantee Scheme, Credit Linked Capital Subsidy Scheme, Public Procurement Policy, Protection against delayed payments, etc.</li>
<li>MSMEs are eligible for priority sector lending from banks</li>
<li>MSMEs get the benefit of a government security deposit waiver that is helpful while participating in e-tenders</li>
<li>Any number of activities, including service or manufacturing or both, may be added or specified in one MSME registration</li>
<li>Barcode registration subsidy</li>
<li>Exemption scheme from direct taxes</li>
<li>ISO certification fees reimbursement</li>
<li>Electricity bills concession</li>
<li>Special consideration in International trade fairs</li>
</ul>
 </div>
    <div class="aboutus-panel">
        <a href="#msme" id="msme">MSME Registrations</a>
        <a href="#80g" id="#80g">80G Registrations</a>
        <a href="#mission" >Mission</a>
        <a href="#howwework" >How We Work</a>
        <a href="#whytrustus" >Why Trust Us</a>
    </div>
    <div class="about-content our-services-content">
         <h3>What is Section 80G?</h3>
         <p>Section 80G of the Income Tax Act, 1961 is a provision that allows individuals and organizations to claim tax deductions on donations made to eligible charitable organizations.</p>
         <br>
         <p>When an organization obtains an 80G certificate, it means that it has been registered and recognized by the Income Tax Department as eligible to receive donations exempt from income tax. Donors who contribute to such organizations can claim deductions on their taxable income, up to a specified limit, based on the amount donated.</p>
         <br><br>
         <h3>Understanding 80G Registration</h3>
         <p>Under the Income Tax Act of 1961, the 80G registration provides a pathway for donors to avail tax deductions on their contributions to qualified charitable entities. This registration bestows donors with tax relief and benefits the receiving organizations. Organizations holding an 80G certification can attract more contributions due to the associated tax deductions. At the same time, donors can enjoy financial relief by deducting the donated amounts during income tax submissions.</p>
         <br>
         <h3>Benefits of 80G Registration</h3>
         <li><strong>Tax Deductions:</strong>The primary advantage of obtaining 80G registration is eligibility for tax deductions. Donors can claim deductions of up to 50% or 100% of the donated amount. This depends on the category of the charitable institution. The exact percentage of deductions depends on the organisation’s classification as defined by the income tax department.</li>
         <li><strong>Wider Reach:</strong>Being registered under Section 80G enhances the credibility and transparency of charitable organisations, making them more appealing to potential donors. This registration provides access to a larger pool of donors and enables non-profits to raise funds more effectively. Individuals and corporations are more likely to contribute to organisations with 80G registration, as it assures them that their donations will be used for genuine charitable purposes.</li>
         <br><br>
         <h3>Eligibility Criteria for 80G Registration</h3>
         <br>
         <ul>
         <li>Legal Structure: The organisation should be registered under the appropriate legal structure recognised by the Indian government, such as a trust, society, or non-profit company.</li>
         <li>Non-profit Nature: The organisation’s primary objective must be promoting charitable activities rather than generating profits.</li>
         <li>Proper Documentation: The organisation should maintain proper accounting records and have its accounts audited annually. It must maintain compliance with income tax regulations.</li>
         <li>Registration under Section 12A: Prior registration under Section 12A is a prerequisite for obtaining 80G registration. Section 12A provides tax exemptions to charitable institutions; therefore, registration under it is necessary before applying for 80G.</li>
         <li>Non-Exempt Income from Business Activities: The organisation must not have any non-exempt income derived from business activities. If any business income exists, separate accounting records must be maintained. Donations received should not be used for purposes unrelated to charitable activities.</li>
         <li>Non-Focus on Specific Communities: The organisation must not exclusively focus on benefiting a specific religious community or caste.</li>
         <li>Registration Number from Darpan Portal: For registration or re-validation, a registration number from the Darpan portal of Niti Aayog is mandatory when receiving or planning to receive grants or assistance from the Central Government or State Government.</li>
         </ul>
         <br><br>
         <h3>Documents required for 80G registration</h3>
         <br>
         <ul>
         <li>Self-certified copy of the organisation’s incorporation document.</li>
         <li>Self-certified copy of the registration certificate issued by the relevant authority.</li>
         <li>Self-certified copy of the registration under the Foreign Contribution Regulation Act (FCRA), if applicable.</li>
         <li>Self-certified copy of the existing order granting approval under clause (23C) of section 10.</li>
         <li>Copies of annual accounts for up to three years preceding the application for existing entities.</li>
         <li>If business income is included in the organisation’s income, copies of annual accounts and audit reports as per Section 44AB for the three years prior to the application.</li>
         <li>Details of the organisation’s operations since its inception or the last three years, whichever is shorter.</li>
         </ul>
         <br><br>
         <h3>80G Certificate</h3>
         <br>
         <p>The 80G Certificate, issued by the Income Tax Department, is a recognition given to non-governmental entities like charitable trusts or Section 8 Companies. Its primary purpose is to incentivize donors to contribute funds to these non-profit organizations. By donating to an institution with an 80G Certificate, donors can benefit from a 50% tax relief on the donated amount, which they can then deduct from their Gross Total Income. To claim this exemption, it’s essential for donors to furnish a stamped receipt of their contribution. This receipt should clearly detail the donor’s name, donation date, and the PAN of the recipient organization.</p>
         

    </div>
    <div class="aboutus-panel">
        <a href="#ourstory">Our Story</a>
        <a href="#vision" >Vision</a>
        <a href="#mission" id="mission">Mission</a>
        <a href="#howwework" >How We Work</a>
        <a href="#whytrustus" >Why Trust Us</a>
    </div>
    <div class="about-content">
        <p>Our mission is to empower and uplift the most marginalized and vulnerable sections of society through comprehensive and sustainable interventions. We are dedicated to promoting education, healthcare, women's empowerment, and environmental sustainability, among other key areas. Through innovative programs, strategic partnerships, and community engagement, we work tirelessly to address the root causes of poverty, inequality, and social injustice. Our ultimate goal is to create lasting change and build a more equitable and inclusive world for future generations.</p>
    </div>
    <div class="aboutus-panel">
        <a href="#ourstory" >Our Story</a>
        <a href="#vision">Vision</a>
        <a href="#mission">Mission</a>
        <a href="#howwework" id="howwework">How We Work</a>
        <a href="#whytrustus" >Why Trust Us</a>
    </div>
    <div class="about-content">
        <p>At AADIDEV MAHADEV SEWA TRUST HARIDWAR, we believe in a holistic and participatory approach to development. We collaborate closely with local communities, government agencies, and other stakeholders to identify needs, develop tailored solutions, and implement effective programs. Our work is guided by principles of transparency, accountability, and sustainability, ensuring that our efforts have a meaningful and lasting impact. From grassroots mobilization and capacity-building to advocacy and policy reform, we employ a range of strategies to address the complex challenges facing our society.</p>
    </div>
    <div class="aboutus-panel">
        <a href="#ourstory">Mission</a>
        <a href="#vison" >Our Story</a>
        <a href="#mission" >Vision</a>
        <a href="#howwework" >How We Work</a>
        <a href="#whytrustus" id="whytrustus">Why Trust Us</a>
    </div>
    <div class="about-content">
        <p>At AADIDEV MAHADEV SEWA TRUST HARIDWAR, we are committed to upholding the highest standards of integrity, professionalism, and ethical conduct. Our team comprises dedicated professionals with diverse expertise and a shared passion for social change. We are transparent in our operations, accountable to our stakeholders, and committed to maximizing the impact of every rupee invested in our programs. With a proven track record of success and a deep-rooted commitment to service, you can trust us to be a reliable and effective partner in the journey towards a brighter future for all.</p>
    </div>

    {{>footer}}
 
</body>
</html>