  <div class="footer-section">
        <div class="footer-top">
            <div class="footer-card">
                <h1>AboutUs</h1>
                <hr>
                <ol>
                    <li><a href="">Our Story</a></li>
                    <li><a href="">Vision</a></li>
                    <li><a href="">Mission</a></li>
                    <li><a href="">How We Work</a></li>
                    <li><a href="">Why Trust Us</a></li>

                </ol>
            </div>
            <div class="footer-card">
                <h1>OUR SERVICES</h1>
                <hr>
                <ol>
                    <li><a href="">MSME Registrations</a></li>
                    <li><a href="">80G Registrations </a></li>
                    <li><a href="">12A Registrations</a></li>
                    <li><a href="">NITI Aayog Registrations</a></li>
                    <li><a href="">CSR Registrations</a></li>

                </ol>
            </div>
            <div class="footer-card">
                <h1>OUR WORK</h1>
                <hr>
                <ol>
                    <li><a href="">Education</a></li>
                    <li><a href="">Women Empowerment</a></li>
                    <li><a href="">Social Assistance</a></li>
                    <li><a href="">Animal Husbandry</a></li>
                    <li><a href="">Children</a></li>
                </ol>
            </div>
            <div class="footer-card">
                <h1>GET INVOLVED</h1>
                <hr>
                <ol>
                    <li><a href="">Individual Support</a></li>
                    <li><a href="">Volunteer</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ol>
            </div>
        </div>

        <hr style="width: 90%; margin: auto;">

        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <h2>AADIDEV MAHADEV SEWA TRUST HARIDWAR</h2>
                <h2>House No-386, Plot No-14, Radhika Puram Colony, Dadupur Govindpur, Tehsil and Haridwar.</h2>

                <h2 class="footer-contactus">ContactUs: 8126139931 || 	aadidevmahadevsewatrust@gmail.com</h2>
            </div>
            <div class="footer-bottom-right">
                <img src="logo.png" alt="">
                <p>AADIDEV MAHADEV SEWA TRUST HARIDWAR uplifts communities in Uttarakhand and Uttar Pradesh through education, healthcare, and empowerment initiatives.</p>
                <div class="footer-social-links">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="script.js"></script>