  <div class="footer-section">
        <div class="footer-top">
            <div class="footer-card">
                <h1>AboutUs</h1>
                <hr>
                <ol>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Impact</a></li>
                    <li><a href="">Reach & Presece</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ol>
            </div>
            <div class="footer-card">
                <h1>OUR WORK</h1>
                <hr>
                <ol>
                    <li><a href="">Education</a></li>
                    <li><a href="">Health</a></li>
                    <li><a href="">Livelihood</a></li>
                    <li><a href="">Women Empowerment</a></li>
                </ol>
            </div>
            <div class="footer-card">
                <h1>CAMPAIGNS</h1>
                <hr>
                <ol>
                    <li><a href="">PMSOV</a></li>
                    <li><a href="">PMSOT</a></li>
                    <li><a href="">Reach & CDPresece</a></li>
                    <li><a href="">PrivDCDCDSClicy</a></li>
                </ol>
            </div>
            <div class="footer-card">
                <h1>GET INVOLVED</h1>
                <hr>
                <ol>
                    <li><a href="">Individual Support</a></li>
                    <li><a href="">Volunteer</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ol>
            </div>
        </div>

        <hr style="width: 90%; margin: auto;">

        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <h2>AADIDEV MAHADEV SEWA TRUST HARIDWAR</h2>
                <h2>House No-386, Plot No-14, Radhika Puram Colony, Dadupur Govindpur, Tehsil and Haridwar.</h2>

                <h2 class="footer-contactus">ContactUS:8126139931 || 	ss7984637@gmail.com</h2>
            </div>
            <div class="footer-bottom-right">
                <img src="logo.png" alt="">
                <p>The Akshaya Patra Foundation is a non profit organisation that strives to eliminate classroom hunger by implementing the Mid Day Meal Programm</p>
                <div class="footer-social-links">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="script.js"></script>