  <div class="footer-section">
        <div class="footer-top">
            <div class="footer-card">
                <h1>AboutUs</h1>
                <hr>
                <ol>
                    <li><a href="/aboutus#ourstory">Our Story</a></li>
                    <li><a href="/aboutus#vision">Vision</a></li>
                    <li><a href="/aboutus#mission">Mission</a></li>
                    <li><a href="/aboutus#howwework">How We Work</a></li>
                    <li><a href="/aboutus#whytrustus">Why Trust Us</a></li>

                </ol>
            </div>
            <div class="footer-card">
                <h1>OUR SERVICES</h1>
                <hr>
                <ol>
                    <li><a href="/ourservices#msme">MSME Registrations</a></li>
                    <li><a href="/ourservices#eightyg">80G Registrations </a></li>
                    <li><a href="/ourservices#twelvea">12A Registrations</a></li>
                    <li><a href="/ourservices#nitiaayog">NITI Aayog Registrations</a></li>
                    <li><a href="/ourservices#csr">CSR Registrations</a></li>

                </ol>
            </div>
            <div class="footer-card">
                <h1>OUR WORK</h1>
                <hr>
                <ol>
                    <li><a href="/ourwork#education">Education</a></li>
                    <li><a href="/ourwork#womenempowerment">Women Empowerment</a></li>
                    <li><a href="/ourwork#socialassistance">Social Assistance</a></li>
                    <li><a href="/ourwork#animalhusbandry">Animal Husbandry</a></li>
                    <li><a href="/ourwork#children">Children</a></li>
                </ol>
            </div>
            <div class="footer-card">
                <h1>GET INVOLVED</h1>
                <hr>
                <ol>
                    <li><a href="/getinvolved">Volunteer</a></li>
                    <li><a href="/getinvolved">Careers</a></li>
                    <li><a href="/getinvolved">Internships</a></li>
                    <li><a href="/getinvolved">Donate</a></li>
                    <li><a href="/getinvolved">Connect with us</a></li>

                </ol>
            </div>
        </div>

        <hr style="width: 90%; margin: auto;">

        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <h2>AADIDEV MAHADEV SEWA TRUST HARIDWAR</h2>
                <h2>House No-386, Plot No-14, Radhika Puram Colony, Dadupur Govindpur, Tehsil and Haridwar.</h2>

                <h2 class="footer-contactus">ContactUs: <a href="tel:8126139931">8126139931 </a>|| 	<a href=mailto:"aadidevmahadevsewatrust@gmail.com">aadidevmahadevsewatrust@gmail.com</a></h2>
            </div>
            <div class="footer-bottom-right">
                <img src="logo.png" alt="">
                <p>AADIDEV MAHADEV SEWA TRUST HARIDWAR uplifts communities in Uttarakhand and Uttar Pradesh through education, healthcare, and empowerment initiatives.</p>
                <div class="footer-social-links">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="script.js"></script>