  <header>
        <div class="header-left">
        <a href="/"><img src="logo.png" alt=""></a>
         <a href="/"><h2><span> AADIDEV MAHADEV</span> <br> SEWA TRUST HARIDWAR</h2></a> 
    </div>
    <div class="header-right">
        <div class="header-right-row">
            <a href="/"><i class="fa-regular fa-envelope"></i> aadidevmahadevsewatrust@gmail.com</a>
            <a href="/"><i class="fa-solid fa-phone"></i> 8126139931</a>
            <button><span class="shine-effect"></span>Donate Now</button>
        </div>
        <!-- <h2>AADIDEV MAHADEV SEWA TRUST HARIDWAR</h2> -->
        <nav>
           
               <a href="/aboutus" class="aboutus-dropdown">AboutUs</a>
               <div class="dropdown">
               <a href="/ourwork" >Our Work <img src="drop-down-arrow.png" width="10px" alt=""></a>
                <ol class="nav-dropdown">
                    <li><a href="/ourwork#education">Education</a></li>
                    <li><a href="/ourwork#womenempowerment">Women Empowerment</a></li>
                    <li><a href="/ourwork#socialassistance">Social Assistance</a></li>
                    <li><a href="/ourwork#animalhusbandry">Animal Husbandry</a></li>
                    <li><a href="/ourwork#children">Children</a></li></ol>
            
            </div>
               <a href="">Campains</a>
               <div class="dropdown">
               <a href="/ourservices">Our Services</a>
               <ol class="nav-dropdown our-service-dropdown">
                <li><a href="">MSME Registrations</a></li>
                <li><a href="">80G Registrations</a></li>
                <li><a href="">12A Registrations</a></li>
                <li><a href="">NITI Aayog Registrations</a></li>
                <li><a href="">CSR Registrations</a></li>

               
                </div>
               <a href="">Get Involved</a>
               <a href="">Media Centre</a>
               <a href="/contactus">Contact us</a> 
        </nav>

    </div>
    <div class="hamburger-menu">
        <img src="hamburger.png" alt="">
      
    </div>
    <ol class="hamburger-li ">
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/ourwork">Our Work</a></li>
        <li><a href="">Campains</a></li>
        <li><a href="/ourservices">Our Services</a></li>
        <li><a href="">Get Involved</a></li>
        <li><a href="/contactus">Contact Us</a></li>
    </ol>
    </header>