:root{
    --primary-color:#3F88C5;
    --secondary-color:#E94F37;
    --dark:#393E41;
    --light:#F6F7EB
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}


body{
    overflow-x: hidden;
    background-color: #FFFEF9;
   
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2rem;
    position:sticky;
    /* background-color: rgb(235, 235, 235) ; */
    background-color:  #FFFEF9;;
    top: 0%;
    z-index: 99;
    border-bottom: 1px solid rgb(189, 189, 189);
}
header a{
    text-decoration: none;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left a img{
    width: 100px;
}
.header-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: auto;
}
.header-left h2{
    font-size: 1.4rem;
    padding: 0 10px;
    font-weight: 700;
    /* text-decoration: underline; */
    color: var(--secondary-color);  
}
.header-left h2 span{
    font-size: 2rem;
    color: #2E3094;
}
.header-right nav{
    display: flex;
    gap: 2.5rem;
    padding: 10px 0;
}

.header-right nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    /* color:var(--primary-color); */
    color: #2E3094;
    transition: all .2s;
    /* padding: 2px 0; */
}

.header-right nav a:hover{
    border-bottom: 2px solid var(--secondary-color) ;
    color: var(--secondary-color);
}
/* .nav-item{
    display: flex;
    flex-direction: column;
} */

.nav-dropdown{
    position: absolute;
    top: 90%;
    left: 47%;
    background-color: #FFFEF9;
    padding: 1rem 0.5rem;
    transition: all .4s ease-in-out; 
    list-style: none;
   visibility: hidden;
    /* display: none; */
    opacity: 0;
    z-index: 3;
    border-radius: 4px;
}
.nav-dropdown ol{
}
.nav-dropdown li{
    padding: 2px;
    transition: all 2s ease-in-out;

}
.our-service-dropdown{
    left:63%
}

.dropdown:hover .nav-dropdown{
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

/* .nav-dropdown:hover {
   display: block;
   opacity: 1;
} */

.header-right-row{
    display: flex;
    gap: 1.5rem;
    padding: 5px 0 ;
    align-items: center;
}
.header-right-row a{
    text-decoration: none;
    color: var(--secondary-color);
}
/* .header-right-row button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 25px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color:rgb(101, 169, 0);
    background: linear-gradient(to right,rgb(101, 169, 0),rgb(125, 208, 0));
    color: var(--light);
} */

.header-right-row button:hover{
    opacity: 0.8;
}
.header-right-row button:active{
    opacity: 1;
}

.header-right-row button {
    background: linear-gradient(to right,rgb(101, 169, 0),rgb(125, 208, 0));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 600;
    border: 2px solid rgb(140, 189, 42);
    }
    
    
    .shine-effect {
    position: absolute;
    top: -30%;
    left: -100%;
    width: 20%;
    transform: rotate(20deg);
    height: 210%;
    background: linear-gradient(to right, rgba(246, 246, 246, 0.3), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    animation: shine 1.75s infinite linear;
    }
    
    
    @keyframes shine {
    0% {
    left: -100%;
    }
    100% {
    left: 100%;
    }
    }
    
.hamburger-menu{
    display: none;
}  
.hamburger-menu img{
    width: 100%;
}
.hamburger-li{
    display: none;
}

    


.hero-section{
    height: 85vh;
    width: 100%;
    overflow: hidden;
}
.heroswiper{
    width: 100%;
    height:100%;
}
.heroswiper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}




.about-description{
    /* height: 50vh; */
    padding: 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #2E3094;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    /* padding: 0 3rem; */
}


.ourimpact-section{
    /* height: 45vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem 0rem;
    /* background-color:#2E3094; */
    background-color: #F3F2F3;
    /* color:var(--dark); */
    color: #2E3094;
}
.impact-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.impact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    /* border: 1px solid wheat; */
    width: 330px;
    gap: 7px;
    padding: 30px;
    /* color:var(--light); */
    color: #2E3094;
}
.impact-card h1{
    font-size: 4rem;
    font-weight: 700;
}
.impact-card p{
    width: 95%;
    text-align: center;
}



.our-programs-section{
    width: 100%;
    padding:4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.our-programs-section h1{
    font-size: 2.5rem;
    color: var(--dark);
    /* text-decoration: underline; */
}

.our-programs-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.program-card-link{
    text-decoration: none;
}
.program-card{
    /* width: 45%; */
    height: 20vh;
    padding:2rem 2rem;
    /* border: 1px solid black;
    border-radius: 10px; */
    background-color: #FFFFFF;
    box-shadow: var(--light) 5px 5px 5px 5px ;  
    margin: 7px;
    display: flex;
    align-items: center;
    transition: scale 0.6s;
    /* border-bottom: 2px solid var(--primary-color); */
    
}
.program-card:hover{
   scale: 1.03;
}
.program-card .program-card-top{
    display: flex;
    align-items: center;
}
.program-card-bottom h1{
   font-size: 2rem;
}
.program-card-bottom{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}
.program-card-top img{
    width:170px;
}
.program-card-bottom p{
    width: 70%;
    color: #2E3094;
}

/* imapct storiess */

.impact-stories-section{
    height: 60vh;
    width: 100%;
    background: url("images/bg-images/top-view-diversity-composition-with-different-colored-paper-hands-with-copy-space-removebg-preview.png");
    object-fit:cover;
    background-repeat: no-repeat;
    background-color: #F3F2F3;
    background-position-y:-80px ;
    background-size: 80%;
    object-fit: cover;
    padding: 2rem;
    margin: 2rem 0;
    /* border-top: 2px solid var(--primary-color);
    border-bottom:  2px solid var(--primary-color);; */
}
.impact-stories-section h1{
  margin-left: 60%;  
  color:var(--dark); 
}

.swiper {
    margin-left: 45%;
    width: 50%;
    height: 300px;
    color: aliceblue;
  }

.impact-slider-card{
    display: flex;
    width: 100%;
    height: 300px;
    padding:50px 50px;
    justify-content: space-evenly;
    align-items: center;
}
.impact-slider-card img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.impact-card-text{
    text-align: right;
    width: 40%;
    color: #393E41;
    /* margin-right: 35px; */
}

/* award section */

.award-section{
    height: 100vh;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 4rem 0;
}
.award-section h1{
    font-size: 2.5rem;
    color: var(--dark);
    text-align: center;
}


/* campains section */

.campain-section{
    padding: 4rem 3rem;
}
.campain-section h1{
    font-size: 2.5rem;
    color: var(--dark);
    text-align: center;
}
.campain-row{
    display: flex;
    align-items: center;
    padding: 4rem 3rem ;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.campain-card{
    height: 70vh;
    width: 20%; 
     
}
.campain-card h1{
    font-size: 2rem;
    
}
.campain-img{
    height: 40vh;
    width: 100%;
    /* background-image: url("."); */
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
    overflow: hidden;
   
}
.campain-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: brightness(50%);
    transition: all .6s ;
}
.campain-img img:hover{
        transform: scale(1.1);
}

.campain-card h1{
    position: absolute;
    color:#F3F2F3;
    padding: 1rem;
}
.campain-card p{
    color:#2E3094;
}



/* footer section */

.footer-section{
    width: 100%;
    padding: 4rem;
    height: 100vh;
    background-color: var(--dark);
    padding:4rem 0;
}
.footer-top{
    height: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color:var(--light);
}
.footer-top h1{
    font-size:1.6rem;
    font-weight: 400;
}
.footer-top ol{
    list-style: none;
    padding: 20px 0;
    font-weight: 300;
}
.footer-top ol a{
    text-decoration: none;
    color:var(--light);
    transition: all 1s linear;
}
/* .footer-top  ol a:hover{
    text-decoration: underline;
} */

.footer-bottom{
    height: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}
.footer-bottom-left{
    width: 60%;
    color: var(--light);
    padding: 0 3rem;
}
.footer-bottom-left h2{
   font-weight: 300;
}

.footer-contactus{
    margin-top: 20px;
}

.footer-bottom-right{
  width: 40%;
  padding: 0 3rem;
  color: var(--light);
}
.footer-bottom-right img{
   width: 100px;
}
.footer-social-links{
    padding: 20px 0;
    font-size: 1.6rem;
    display: flex;
    gap: 20px;
} 
.footer-social-links a{
    color: white;
    transition:color .4s ;
}
.footer-social-links a:hover{
    color: var(--primary-color);
}



/* about ussss */

.aboutus-hero-section img{
  width: 100%;
  height: 85vh;
  opacity: 0.95;
}
.aboutus-hero-section h1{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%);    
    color: var(--light);
    font-size: 4rem;
}
.aboutus-panel{
    width: 80%;
    margin: 2rem auto;
    background-color:#2E3094;
    height: 4rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.aboutus-panel a{
    text-decoration: none;
    color: var(--light);
    font-weight: 500;
    padding: 20px;
    border-radius: 5px;
    /* border: 1px solid var(--light); */
}
.aboutus-panel a:hover{
    transform: translateY(-4px)
}
.aboutus-panel a:focus-within{
    background-color: var(--secondary-color);
    transform: translateY(0px);
}
.about-content{
    text-align: center;
    padding: 4rem 5rem;
    font-size: 1.3rem;
}
.about-content-img{
    width: 100%;
    height: 60vh;
}
.about-content-img img{
    width: 100%;
    height: 60vh;
    object-fit: cover; 
    object-position:center 20%;
}

/* our services */

.our-services-content{
    text-align: left;
}
.our-services-content h3{
    color: #2E3094;
}


/* contactus */

.contactus-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 85vh; */
    padding: 2rem 0;
}
.contactus-left{
    width: 40%;
    display: flex;
    align-items:center;
    text-align: left;
    /* justify-content: center; */
    flex-direction: column;
    border-right: 1px solid black;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
}
.contactus-left h2{
    font-size: 1.7rem;
    color:#2E3094;

}
.contactus-left p{
    font-size: 1.3rem;
    color: #E94F37;
    font-weight: 600;
}
.contactus-left h4{
   color:#2E3094
}
.contactus-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactus-right h1{
    color:#2E3094
}
.contactus-right p{
    color: #E94F37;
}
.contactus-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 4px;
    padding: 2rem 0;
}
.contactus-form input{
    padding: .5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--light);
    outline: none;
}
.contactus-form textarea{
    border-radius: 4px;
    font-size: 1rem;
    padding: .4rem;
    border: 1px solid var(--light);
    outline: none;
}
.contactus-form input[type=submit]{
    margin: 1rem 0;
    border-radius: 4px;
    cursor: pointer;

}



/* media queries */

@media only screen and (max-width: 768px) {
    body{
        /* background-color: #393E41; */
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
    }
    .hamburger-menu{
        display: block;
        position: relative;
        top: 6.4%;
        z-index: 99;
        width: 20px;
        height: 20px;
        right: 5%;
    }
    header{
        padding:10px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
    }
    .header-left a img{
        width: 6rem;
    }
     .header-left h2 span{
        font-size: 1.3rem;
     }  
    .header-left h2{
        font-size: 1rem;
    }
    .header-right{
        display: none;
    }
    
    .hamburger-li{
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.4rem;
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: #FFFEF9;
        height: 40vh;
        list-style: none;
        width: 100%;
        padding: 1rem;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in;
     }
    
     .hamburger-li li a{
        text-decoration: none;
     }
     
     .visibilitytrue{
        opacity: 1;
        visibility: visible;
     }
    
    /* our programee */

    .our-programs-container{
        width: 90%;
    }
    .program-card{
        width:90%;
        padding: 0;
    }
    .program-card-bottom h1{
        font-size: 1rem;
     }
     .program-card-bottom p{
        width: 90%;
        font-size: .6rem;
    }

    .impact-stories-section{
        background-position-x:-132px ;
        padding:1rem;
        height: 51vh;
        width: 100%;
        background-position-y: center;

    }
    .impact-stories-section h1{
        margin: auto; 
        text-align: center; 
      }

    .swiper{
        width: 100%;
        margin: auto;
        overflow-y: hidden;
    }
    .impact-slider-card{
        display: flex;
        width: 90%;
        /* height: 300px; */
        padding:1rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .impact-slider-card img{
        width:100px;
        height: 100px;
        border-radius: 50%;
    }
    .impact-card-text{
        text-align: right;
        width: 70%;
        /* margin-right: 35px; */
    }
    .campain-card{
        height: 55vh;
        width: 100%; 
    }
    .campain-section{
        padding: 4rem 0rem;
    }

    /* footer  */


    .footer-section{
        height: 100%;
    }
     .footer-top{
        gap:0 3.7em;
        /* padding: 1px; */
     }
     .footer-card{
        width: 40%;
     }
    .footer-top h1{
        font-size:1.3rem;
        font-weight: 400;
    }
    .footer-top ol{
        list-style: none;
        padding: 20px 0;
        font-weight: 300;
        font-size: 1rem;
    }
    .footer-bottom-left{
        width: 100%;
    }
    
.footer-bottom-right{
    width: 100%;
    margin: 2rem 0 0 0;
  }
  .footer-contactus{
    margin-top: 2rem 0;
}
.footer-bottom-left h2{
    font-weight: 300;
    font-size: 1rem;
 }
 


 /* contact us */
 .contactus-container{
    margin-top: 15vh;
 }
 .contactus-left{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 2rem;
 }
 .contactus-right{
    margin-top: 5rem;
    width: 100%;
 }

 .aboutus-panel{
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0px;
 }
 .aboutus-panel a{
    width: 100%;
    border-bottom: 1px solid var(--light);
 }
 .about-content{
    padding: 4rem 1rem;
    font-size: 1.2rem;
 }
}